body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.tutorial-container {
    max-width: 800px;
    background: gray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: justify;
}

.tutorial-container p {
    margin-bottom: 15px;
    text-align: center;
}

.imagem1, .imagem2, .imagem3 {
    width: 500px;
    display: block; /* Altera para bloco para centralizar */
    margin: 0 auto; /* Centraliza a imagem */
    max-width: 50%; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.botao-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #004f0c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
    font-family: 'Press Start 2P', cursive;
}

.botao-voltar:hover {
    background-color: #003a07;
}

/* Estilos para os botões de navegação nas abas */
#next-button, #prev-button, #prev-button-tab2, #next-button-tab2 {
    margin: 0 4px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    background: #333;
    color: #fff;
    font-weight: bold;
    border-radius: 5px; 
    transition: filter 0.2s;
}

#next-button:hover, #prev-button:hover,
#prev-button-tab2:hover, #next-button-tab2:hover {
    filter: brightness(0.8);
}

/* Estilo responsivo */
@media (max-width: 1200px) {
    .tutorial-container {
        padding: 15px;
    }
    .botao-voltar {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 800px) {
    .tutorial-container {
        padding: 10px;
    }

    .botao-voltar {
        font-size: 0.8rem;
        padding: 8px 14px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .tutorial-container {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }

    .botao-voltar {
        font-size: 0.8rem;
        padding: 8px 12px;
        top: 10px;
        left: 10px;
    }
}

.hidden { 
    display: none;
}
