@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#restartButton {
    border: none;
    border-radius: 100px;
    padding: 1vh 2vw;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}

body {
    background-color: #151414;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

canvas {
    width: 570px;
    height: 570px;
    background-color: #151414;
    margin-top: 20px;
}

.pontuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    position: relative;
    z-index: 1;
    margin-bottom: -10px;
}

.pontuacao--valor {
    font-weight: 700;
    font-size: 3.5rem;
    display: block;
    margin-top: -10px;
}

.recordes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.recorde-single, .recorde-multiplayer {
    font-size: 1.2rem;
    font-weight: 500;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.pontuacao-final {
    font-weight: 500;
    font-size: 1.5rem;
    display: block;
}

.modo-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.botao-single, .botao-multiplayer {
    background-color: #004f0c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.botao-voltar {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #004f0c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    z-index: 4;
}

.botao-voltar:hover {
    background-color: #003a07;
}

.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 0.7rem;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 4;
}

.copyright a {
    color: #fff;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}

.botao-mute, .botao-historia {
    position: fixed;
    top: 20px;
    background-color: #004f0c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    z-index: 4;
}

.botao-mute {
    right: 20px;
}

.botao-historia {
    right: 100px;
}

.botao-mute:hover, .botao-historia:hover {
    background-color: #003a07;
}

a {
    text-decoration: none;
}

.instrucoes {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
    display: none;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 560px;
  }

  .ws {
    margin-left: 0;
  }

  .setasDE {
    margin-top: 0;
  }

@media (max-width: 1024px) {
    .botao-mute, .botao-historia {
        padding: 8px;
        font-size: 1rem;
    }

    .botao-historia {
        right: 60px;
    }

    .botao-voltar {
        font-size: 0.8rem;
        padding: 8px 16px;
    }

    .instrucoes {
        font-size: 12px;
    }

    .pontuacao--valor {
        font-size: 3rem;
    }

    .modo-jogo {
        top: 60%;
    }
}

@media (max-width: 768px) {
    .botao-mute, .botao-historia {
        padding: 6px;
        font-size: 0.8rem;
    }

    .botao-historia {
        right: 40px;
    }

    .botao-voltar {
        font-size: 0.7rem;
        padding: 6px 12px;
    }

    .instrucoes {
        font-size: 10px;
    }

    .pontuacao--valor {
        font-size: 2.5rem;
    }

    .modo-jogo {
        top: 70%;
    }
}